html,
body {
  margin: 0;
  padding: 0;
}

.grid {
  position: absolute;
  margin-left: 30px;
  width: 560px;
  height: 97%;
  border: solid 5px #077a1a;
  background-color: #ddb897;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
}

.user {
  position: absolute;
  background-color: #3d4eba;
  width: 100px;
  height: 20px;
}

.ball {
  position: absolute;
  background-color: #de0063;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
